<div class="column is-one-third">
  <div class="card dog">
    <div class="card-content">
    <h1 class="title is-4">
      <% if name_is_link %>
        <%= link_to dog.name, dog %>
      <% else %>
        <%= dog.name %>
      <% end %>
    </h1>
    <% if dog.image_url.present? %>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="<%= dog.image_url %>">
      </figure>
    </div>
    <% end %>
    <ul>
      <strong>Breed:</strong> <%= dog.breed.name.capitalize %><br>
      <strong>Age:</strong> <%= dog.age %> <br>
      <strong>Gender:</strong> <%= dog.gender %> <br>
      <strong>About Me:</strong> <%= dog.description %>
    </ul>
    </div>
  </div>
</div>