<h1 class="title has-text-centered">Our Dogs</h1>

<div class="columns is-multiline">
  <% @dogs.each do |dog| %>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <% if dog.image_url.present? %>
            <figure class="image is-4by3">
              <img src="<%= dog.image_url %>" alt="<%= dog.name %>">
            </figure>
          <% end %>
        </div>
        <div class="card-content">
          <h2 class="title is-4">
            <%= link_to dog.name, dog %> -
            <% if dog.age < 2 %>
              <span class="tag is-success">Puppy</span>
            <% elsif dog.age > 7 %>
              <span class="tag is-warning">Senior Dog</span>
            <% else %>
              <span class="tag is-primary">Adult Dog</span>
            <% end %>
          </h2>
          <ul>
            <li><strong>Breed:</strong> <%= dog.breed.name.capitalize %></li>
            <li><strong>Age:</strong> <%= dog.age %></li>
            <li><strong>Gender:</strong> <%= dog.gender %></li>
          </ul>
          <p><strong>About Me:</strong> <%= dog.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @dogs %>
