<h1>Our Dogs</h1>

<%= paginate @dogs %>

<ul>
  <% @dogs.each do |dog| %>
    <ul>
      <h1><%= link_to dog.name, dog %></h1>
      <img src="<%= dog.image_url %>"> <br>
      <strong>Breed:</strong> <%= dog.breed.name.capitalize %><br>
      <strong>Age:</strong> <%= dog.age %> <br>
      <strong>Gender:</strong> <%= dog.gender %> <br>
      <strong>About Me:</strong> <%= dog.description %>
    </ul>
  <% end %>
</ul>
